@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@700&family=Roboto+Slab:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

#botao_topo {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
}

body#home a#h,body#castelo a#crtb, body#cocorico a#cc, body#sitio-do-picapau-amarelo a#sdpa , body#contato a#ctt, body#curiosidades a#cs, body#desenhos a#d, body#emissoras a#em, body#estudios a#es, body#irmao-do-jorel a#idj, body#oswaldo a#o, body#turma-da-monica a#tdm, body#programas a#p, body#quem-somos a#qs, body#quiz a#q, body#trilha-sonora a#ts{
    cursor: default;
	background-color: #000;
    color:white;
    padding: 5px;
}
html {
    background-color: #366273;
}

body {
    width: 1030px;
    margin: auto;
    background-color: #ffe9d5;
}

.nav {
    width: 945px;
    margin: auto;
    margin: -90px 0 60px 85px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 11px;
}

/* background-color- muda o fundo, list-style-type- tira aqueles pontinhos safados, padding- para dar espaçamento (aumentar o tamanho do nav e espacar as palavras)*/
.nav ul {
    background-color: #731D0A;
    list-style-type: none;
    padding: 15px 10px 11px;
}

/*display:inline- colocar lado a lado as listas, position:relative- para a lista avulsa ficar debaixo do item principal*/
.nav ul li {
    display: inline;
    position: relative;
}

/* color- cor das letras,text-decoration:none- tira aquele sublinhado safado,display:inline-block- lista separada em bloquinhos, padding- espacamento*/
.nav ul li a {
    color: rgb(255, 250, 250);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

/* pra ter selecao */
.nav ul li a:hover {
    background-color: azure;
    color: #731D0A;
    padding: 10px;
    /* border-radius: 100% 100% 0 0; */
}


/* Aqui vamos fazer a parte do sub menu */
/* display: none foi para esconder as listas avulsas, left:0 eh para a lista descer debaixo do item principal, position:absolut esta deixando os itens debaixo para nao sobresair os outros, width:150px definiu o tamanho do box da lista avulsa*/
.nav ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
}

/* Aqui ja aparece desce a lista escondida */
.nav ul li:hover ul {
    display: block;
}

/*muda a cor do footer, o tamanho dele, o tamanho da letra e o espacamento*/
.footer {
    background-color: #731D0A;
    width: 1000px;
    color: aliceblue;
    padding: 5px 15px 0 15px;
    font-family:sans-serif;
}

.footer section {
    width:700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
footer ul{
    padding: 0;
    list-style: none;
}

.footer li {
    font-size: 11px;
    padding: 5px;
}

.footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

.logo-branca {
    position: absolute;
    margin: -145px 0 0 930px;
}

.redes-sociais {
    margin-left: 930px;
    margin-bottom: -17px;
    margin-inline-end: 0px;
}

/* todos os paragrafos vao ser justificados */
p {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}
h2{
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

.footer nav {
    margin-block: -15px;
}

small {
    font-size: 11px;
}

small a {
    font-weight: 700;
    color: #ffe9d5;
    text-decoration: none;
}

.fontes a {
    text-decoration: none;
    color: lightgray;
}

/* __________HOME__________ */

.articlehome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.articlehome p {
    padding: 50px;
}

.articlehome h1 {
    margin-block-end: -40px;
}

.imghome img {
    padding-right: 50px;
}

/* _________EMISSORAS_________ */
.emissoras {
    display: flex;
    align-items: flex-start;
    height: 800px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.emissora {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emissora h2 {
    text-align: center;
}

.emissora img {
    justify-content: center;
}

.centralizado {
    text-align: center;
}

/* _________ESTUDIOS_________ */
.estudios {
    padding-left: 20px;
    display: flex;
    width: 650px;
    height: 2770px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.estudios ul {
    font-family: 'Roboto Slab', serif;
}

.img-estudios {
    position: absolute;
    margin-top: 40px;
    margin-left: 582px;

}

.img-estudios img {
    display: flex;
    padding: 100px;
}

/* _________DESENHOS_________ */
.desenhos {
    display: flex;
    align-items: flex-start;
    height: 2750px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.desenhos p {
    width: 300px;
}

.desenho {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desenhos h2 {
    text-align: center;
    white-space: pre;
}

/* _________IRMAO JOREL_________ */
.irmao-jorel {
    display: flex;
    align-items: center;
    height: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
}
.irmao-jorel h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

.irmao-jorel p {
    width: 550px;
    padding: 20px;
}

.irmao-jorel article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}
.irmao-jorel aside{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.irmao-jorel img {
    padding: 15px;
}

/* _________OSWALDO_________ */

.oswaldo {
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.oswaldo h1 {
    text-align: center;
}

.oswaldo p {
    width: 450px;
}

.aside-oswaldo img {
    align-items: flex-start;
}

/* _________TURMA DA MONICA_________ */

.turma-monica {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.turma-monica p {
    width: 900px;
}

.turma-monica img {
    padding: 15px;
}

/* _________PROGRAMAS_________ */
.programas {
    display: flex;
    align-items: flex-start;
    height: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.programas p {
    width: 300px;
}

.programa {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programa h2 {
    text-align: center;
    white-space: pre;
}

/* _________CASTELO RA TIM BUM_________ */
.cas-rtb {
    display: flex;
    align-items: flex-start;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.cas-rtb P {
    width: 400px;
    padding-left: 40px;
}

.cas-rtb-lado {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-castelo img {
    padding: 5px;
}

/* _________COCORICO_________ */
.cocorico {
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-end;
}

.cocorico p {
    width: 500px;
}

.imgs-cocorico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-cocorico img {
    padding: 20px;
}

/* _______SITIO DO PICAPAU_________ */
.article-sitio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 770px;
}

.article-sitio p {
    width: 450px;
    padding: 20px;
}

.sitio1977 {
    display: flex;
    align-items: center;
}

.sitio1977 section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitio2001 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.sitio2001 section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* _________CURIOSIDADES_________ */
.curiosidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
}
.curiosidades section{
    width:400px;

}
.curiosidades article{
    display: flex;
    flex-wrap: wrap;
}
.curiosidades ol{
    font-family: 'Roboto Slab', serif;
}
.castelo h1{
    background-color: rgb(184, 90, 184);
}
.coco h1{
    background-color: royalblue;
}
.lua h1{
    background-color: steelblue;
}
.sitio h1{
    background-color: palegreen;
}
.irmao h1{
    background-color: orangered;
}
.glub h1{
    background-color: peru;
}
.maluquinho h1{
    background-color: skyblue;
}
/* _________TRILHA SONORA_________ */
.trilha {
    width: 820px;
    margin: auto;
    height: 630px;
}

.trilha img {
    padding: 5px
}

/* _________QUEM SOMOS_________ */
.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

.quem-somos p {
    width: 700px;
}

.integrantes img {
    padding: 5px;
    align-items: center;
    border-radius: 100%;
    align-items: center;
    border-style: dashed;
    border-color: #731D0A;
}

/* _________QUIZ_________ */
.quiz {
    height: 950px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.quiz button:hover {
    background-color: #dfdfdf;
}

.perguntas {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.pergunta {
    width: 260px;
    height: 175px;
    align-items: stretch;
    flex-direction: column;
    border-color: black;
}

/* _________CONTATO_________ */
.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    height: 600px;
}

.formulario {
    display: flex;
    width: 400px;
    border: 2px solid #731D0A;
    border-radius: 15px;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #731D0A;
    border-radius: 4px;
}
.formulario textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #731D0A;
    border-radius: 4px;
}
.formulario button{
    width:80px;
    height: 30px;
}
.formulario button:hover {
    background-color: #dfdfdf;
}
/* _________REFERENCIAS BIBLIOGRAFICAS_________ */
.ref-bibliografica{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.ref-bibliografica section{
    width: 250px;
}
.ref-bibliografica a{
    text-decoration: none;
}

