@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dosis:wght@700&family=Roboto+Slab:wght@300&display=swap');

html {
    background-color: #366273;
}

body {
    width: 1030px;
    margin: auto;
    background-color: #ffe9d5;
}

.nav {
    width: 945px;
    margin: auto;
    margin: -100px 0 90px 85px;
    font-family: 'Dosis', sans-serif;
}

/* background-color- muda o fundo, list-style-type- tira aqueles pontinhos safados, padding- para dar espaçamento (aumentar o tamanho do nav e espacar as palavras)*/
.nav ul {
    background-color: #731D0A;
    list-style-type: none;
    padding: 15px 10px 15px;
}

/*display:inline- colocar lado a lado as listas, position:relative- para a lista avulsa ficar debaixo do item principal*/
.nav ul li {
    display: inline;
    position: relative;
    padding-left: 5px;
}

/* color- cor das letras,text-decoration:none- tira aquele sublinhado safado,display:inline-block- lista separada em bloquinhos, padding- espacamento*/
.nav ul li a {
    color: rgb(255, 250, 250);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

/* pra ter selecao */
.nav ul li a:hover {
    background-color: black;
    color: azure;
}

/* Aqui vamos fazer a parte do sub menu */
/* display: none foi para esconder as listas avulsas, left:0 eh para a lista descer debaixo do item principal, position:absolut esta deixando os itens debaixo para nao sobresair os outros, width:150px definiu o tamanho do box da lista avulsa*/
.nav ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
}

/* Aqui ja aparece desce a lista escondida */
.nav ul li:hover ul {
    display: block;
}

/*muda a cor do footer, o tamanho dele, o tamanho da letra e o espacamento*/
.footer {
    background-color: #731D0A;
    width: 1000px;
    color: aliceblue;
    padding: 5px 15px 0 15px;
    font-family: 'Dosis', sans-serif;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    font-size: 10px;
}

.footer ul li a {
    text-decoration: none;
    color: aliceblue;
}

.logo-branca {
    position: absolute;
    margin: -195px 0 0 930px;
}

.redes-sociais {
    margin-left: 930px;
    margin-inline-end: 0px;
    margin-block: 0px;
}

/* todos os paragrafos vao ser justificados */
p {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif', serif;
}

.footer nav {
    margin-block: -15px;
}

small {
    font-size: 11px;
}

small a {
    font-weight: 700;
    color: #ffe9d5;
    text-decoration: none;
}

.fontes a {
    text-decoration: none;
    color: lightgray;
}

/* __________HOME__________ */

.articlehome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.articlehome p {
    padding: 50px;
}

.articlehome h1 {
    margin-block-end: -40px;
}

.imghome img {
    padding-right: 50px;
}

/* _________EMISSORAS_________ */
.emissoras {
    display: flex;
    align-items: flex-start;
    height: 800px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.emissora {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emissora h2 {
    text-align: center;
}

.emissora img {
    justify-content: center;
}

.centralizado {
    text-align: center;
}

/* _________ESTUDIOS_________ */
.estudios {
    padding-left: 20px;
    display: flex;
    width: 650px;
    height: 2770px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.estudios ul {
    font-family: 'Roboto Slab', serif;
}

.img-estudios {
    position: absolute;
    margin-top: 40px;
    margin-left: 582px;

}

.img-estudios img {
    display: flex;
    padding: 100px;
}

/* _________DESENHOS_________ */
.desenhos {
    display: flex;
    align-items: flex-start;
    height: 2750px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.desenhos p {
    width: 300px;
}

.desenho {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desenhos h2 {
    text-align: center;
    white-space: pre;
}

/* _________IRMAO JOREL_________ */
.irmao-jorel {
    display: flex;
    align-items: flex-start;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.irmao-jorel p {
    width: 450px;
    padding: 30px;
}

.irmao-jorel article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}
.irmao-jorel aside{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.irmao-jorel img {
    padding: 15px;
}

/* _________OSWALDO_________ */

.oswaldo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 600px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.oswaldo h1 {
    text-align: center;
}

.oswaldo p {
    align-items: flex-end;
    width: 450px;
    padding:20px;
}

.aside-oswaldo img {
    align-items: flex-start;
}

/* _________TURMA DA MONICA_________ */

.turma-monica {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.turma-monica p {
    width: 900px;
}

.turma-monica img {
    padding: 15px;
}

/* _________PROGRAMAS_________ */
.programas {
    display: flex;
    align-items: flex-start;
    height: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.programas p {
    width: 300px;
}

.programa {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.programa h2 {
    text-align: center;
    white-space: pre;
}

/* _________CASTELO RA TIM BUM_________ */
.cas-rtb {
    display: flex;
    align-items: flex-start;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.cas-rtb P {
    width: 400px;
    padding-left: 40px;
}

.cas-rtb-lado {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-castelo img {
    padding: 5px;
}

/* _________COCORICO_________ */
.cocorico {
    display: flex;
    align-items: flex-start;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.cocorico p {
    width: 400px;
    padding-right: 40px;
}

.imgs-cocorico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-cocorico img {
    padding: 20px;
}

/* _______SITIO DO PICAPAU_________ */
.article-sitio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
}

.article-sitio p {
    width: 450px;
    padding: 20px;
}

.sitio1977 {
    display: flex;
    align-items: flex-start;
}

.sitio1977 section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitio2001 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}

.sitio2001 section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* _________CURIOSIDADES_________ */
.curiosidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}
.curiosidades section{
    width:400px;
}
.curiosidades article{
    display: flex;
    flex-wrap: wrap;
}

/* _________TRILHA SONORA_________ */
.trilha {
    width: 820px;
    margin: auto;
    height: 630px;
}

.trilha img {
    padding: 5px
}

/* _________QUEM SOMOS_________ */
.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

.quem-somos p {
    width: 700px;
}

.integrantes img {
    padding: 5px;
    align-items: center;
    border-radius: 100%;
    align-items: center;
    border-style: dashed;
    border-color: #731D0A;
}

/* _________QUIZ_________ */
.quiz {
    height: 950px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.perguntas {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.pergunta {
    width: 260px;
    height: 175px;
    align-items: stretch;
    flex-direction: column;
    border-color: black;
}

/* _________CONTATO_________ */
.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    height: 600px;
}

.formulario {
    display: flex;
    width: 400px;
    border: 2px solid #731D0A;
    border-radius: 15px;
    align-items: stretch;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #731D0A;
    border-radius: 4px;
}
.formulario textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #731D0A;
    border-radius: 4px;
}
