@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

/*_____BODY sqn______*/
.body {
    display: flex;
    background-color: #EFF3F6;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}

/*_____HEADER______*/
header {
    display: flex;
    background-color: #FFFFFF;
    height: 57px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    width: 281px;
    height: 38px;
    border-radius: 30px;
    background-color: #f0f2f5;
    border: 0
}

placeholder {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.menu img {
    padding-right: 100px
}

.perfil-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

}

.h-lado-esquerdo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.h-lado-esquerdo img {
    padding-left: 10px;
}

/*_____NAV______*/
nav {
    display: flex;
    height: 341px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0px;
}

nav img {
    padding-right: 10px;
}

nav li {
    display: flex;
    padding: 10px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 12.5px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
}

/*_____ARTICLE______*/
article {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

/*_____ASIDE______*/
.patrocinado {
    display: flex;
    flex-direction: column;
}

.patrocinado p {
    font-weight: 500
}

.patrocinado picture {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contatos img {
    padding-bottom: 15px;
}
.suas-paginas p{
    font-size:13px;
    padding-left: 10px;
}
.suas-paginas{
    display: flex;
    align-items: center;
    
}